{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SGO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/favh.png" rel="icon">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/themify-icons.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/metisMenu.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{% static '' %}user-assets/css/typography.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/default-css.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/styles.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="{% static '' %}user-assets/js/vendor/modernizr-2.8.3.min.js"></script>



    <link rel="stylesheet" href="/static/user1-assets/css/fonts.css">
    <link rel="stylesheet" href="/static/user1-assets/css/fonts.min.css">
    <!-- CSS Files -->
    <link rel="stylesheet" href="/static/user1-assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/user1-assets/css/atlantis.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/static/user1-assets/css/demo.css">

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

{#<!--   Core JS Files   -->#}
	<script src="/static/user1-assets/js/core/jquery.3.2.1.min.js"></script>
{#	<script src="/static/user1-assets/js/core/popper.min.js"></script>#}
	<script src="/static/user1-assets/js/core/bootstrap.min.js"></script>

	<!-- jQuery UI -->
	<script src="/static/user1-assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="/static/user1-assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

	<!-- jQuery Scrollbar -->
	<script src="/static/user1-assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

	<!-- Chart JS -->
	<script src="/static/user1-assets/js/plugin/chart.js/chart.min.js"></script>

	<!-- jQuery Sparkline -->
	<script src="/static/user1-assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

	<!-- Chart Circle -->
	<script src="/static/user1-assets/js/plugin/chart-circle/circles.min.js"></script>

	<!-- Datatables -->
	<script src="/static/user1-assets/js/plugin/datatables/datatables.min.js"></script>

	<!-- Bootstrap Notify -->
	<script src="/static/user1-assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

	<!-- jQuery Vector Maps -->
	<script src="/static/user1-assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
	<script src="/static/user1-assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

	<!-- Sweet Alert -->
	<script src="/static/user1-assets/js/plugin/sweetalert/sweetalert.min.js"></script>

	<!-- Atlantis JS -->
    <script src="/static/user1-assets/js/atlantis.min.js"></script>

    <link rel="icon" href="/static/user1-assets/img/icon.ico" type="image/x-icon" />
    <link rel="canonical" href="https://appseed.us/admin-dashboards/django-dashboard-atlantis-dark">

    <!-- Fonts and icons -->
    <script src="/static/user1-assets/js/plugin/webfont/webfont.min.js"></script>
<style>
    #a{
        text-decoration: none;
    }
    @media screen and (min-width: 769px) and (max-width: 3000px){
            .main-content{
                width: fit-content;
                    {#background: white;#}
            }

            }
    {#body{#}
    {#    overflow: hidden;#}
    {#}#}

</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.bootstrap5.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.colVis.min.js"></script>

<script>
	$(document).ready(function() {
    var table = $('#example').DataTable( {
        lengthChange: false,
        buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
    } );

    table.buttons().container()
        .appendTo( '#example_wrapper .col-md-6:eq(0)' );
} );
</script>
</head>
<body>




  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a  href=""><img style="border-radius: 30px;" src="{% static '' %}h.png" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li >
                                <li ><a id="a" href="/admin-dashboard"><i class="ti-home"></i> <span>Dashboard</span></a></li>

                            </li>

                            <li class="active">
                                <a class="active" id="a" href="javascript:void(0)" aria-expanded="true"><i class="ti-user"></i><span>Dealers
                                    </span></a>
                                <ul class="collapse">
                                   <li ><a id="a" href="/dealer-new">New Dealers</a></li>
                                    <li class="active"><a id="a" href="/manage-dealers">Manage Dealers</a></li>
                                </ul>
                            </li>


                            <li>
                                <a id="a" href="javascript:void(0)" aria-expanded="true"><i class="ti-user"></i><span>Customers
                                    </span></a>
                                <ul class="collapse">
                                    <li><a id="a" href="/user-new">New Customers</a></li>
                                    <li><a id="a" href="/manage-user">Manage Customers</a></li>
                                </ul>
                            </li>

                            <li  ><a id="a" href="/vistors"><i class="ti-bag"></i> <span>Visitors</span></a></li>


                           <li><a id="a" href="/bikesales"><i class="ti-shopping-cart"></i> <span>BikeSales</span></a></li>
                            <li><a id="a" href="/pay"><i class="ti-money"></i> <span>Book Bike</span></a></li>
                            <li><a id="a" href="/bikepayments"><i class="ti-wallet"></i> <span>Payments History</span></a></li>



                            <li>
                                <a id="a" href="javascript:void(0)" aria-expanded="true"><i class="ti-id-badge"></i><span>profile
                                    </span></a>
                                <ul class="collapse">
                                    <li><a id="a" href="/my-admin-profile">View</a></li>
                                    <li><a id="a" href="/my-admin-edit-profile">Update</a></li>
                                </ul>
                            </li>
                            <li>
                                <a id="a" href="/logout" aria-expanded="true"><i class="ti-power-off"></i>
                                    <span>Log Out</span></a>

                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="search-box pull-left">
                            <form action="#">
                                <input type="text" name="search" placeholder="Search..." required>
                                <i class="ti-search"></i>
                            </form>
                        </div>
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                            <li class="dropdown">
                                </i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Dashboard</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="">Home</a></li>
                                <li><span>Manage Dealer</span></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

<div >

<br/>
<div  class=" container table-responsive-md table-responsive-sm table-responsive-lg">
  <table id="example" class="table ">
        <thead>
            <tr>
                <th>id</th>
                <th>FirstName</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Shop Name</th>
                <th>Shop Address</th>
                <th>Dealer Type</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>State</th>
                <th>Country</th>
                <th>Pincode</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
		        {% for s in dealer_list %}
                <tr>
                  <td><a href="/cupdate/{{s.id}}">{{s.id}}</a></td>
                  <td>{{s.user.first_name}}</td>
                  <td>{{s.user.last_name}}</td>
                    <td>{{s.gender}}</td>
                  <td>{{s.shop_name}}</td>
                  <td>{{s.shop_address}}</td>
                  <td>{{s.dealer_type}}</td>
                  <td>{{s.address}}</td>
                  <td>{{s.mobile}}</td>
                  <td>{{s.state}}</td>
                  <td>{{s.country}}</td>
                  <td>{{s.pincode}}</td>
                  <td>
                            <a href="/dupdate/{{s.id}}" class="edit" ><i style='font-size:17px' class='fas' title="Edit">&#xf044;</i></a>
                            <a href="/ddelete/{{s.id}}" ><i  style='font-size:17px' class='fas'  title="Delete">&#xf1f8;</i></a>
                  </td>
                </tr>


                 {% endfor %}

        </tbody>

</table>


</div></div></div>












           <!-- page title area end -->

            <!-- offset area end -->
            <!-- jquery latest version -->
{#           <script src="{% static '' %}user-assets/js/vendor/jquery-2.2.4.min.js"></script>#}
    <!-- bootstrap 4 js -->
    <script src="{% static '' %}user-assets/js/popper.min.js"></script>
    <script src="{% static '' %}user-assets/js/bootstrap.min.js"></script>
    <script src="{% static '' %}user-assets/js/owl.carousel.min.js"></script>
    <script src="{% static '' %}user-assets/js/metisMenu.min.js"></script>
    <script src="{% static '' %}user-assets/js/jquery.slimscroll.min.js"></script>
    <script src="{% static '' %}user-assets/js/jquery.slicknav.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- all line chart activation -->
    <script src="{% static '' %}user-assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="{% static '' %}user-assets/js/pie-chart.js"></script>
    <!-- others plugins -->
    <script src="{% static '' %}user-assets/js/plugins.js"></script>
    <script src="{% static '' %}user-assets/js/scripts.js"></script>
<script src="extensions/mobile/bootstrap-table-mobile.js"></script>
</body>
</html>