<!doctype html>
<html class="no-js" lang="en">
{% load  static %}
{% load widget_tweaks %}{% load crispy_forms_tags %}

<head>
       <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SGO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/favh.png" rel="icon">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/themify-icons.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/metisMenu.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{% static '' %}user-assets/css/typography.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/default-css.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/styles.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="{% static '' %}user-assets/js/vendor/modernizr-2.8.3.min.js"></script>



    <link rel="stylesheet" href="/static/user1-assets/css/fonts.css">
    <link rel="stylesheet" href="/static/user1-assets/css/fonts.min.css">
    <!-- CSS Files -->
    <link rel="stylesheet" href="/static/user1-assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/user1-assets/css/atlantis.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/static/user1-assets/css/demo.css">

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

{#<!--   Core JS Files   -->#}
	<script src="/static/user1-assets/js/core/jquery.3.2.1.min.js"></script>
{#	<script src="/static/user1-assets/js/core/popper.min.js"></script>#}
	<script src="/static/user1-assets/js/core/bootstrap.min.js"></script>

	<!-- jQuery UI -->
	<script src="/static/user1-assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="/static/user1-assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

	<!-- jQuery Scrollbar -->
	<script src="/static/user1-assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

	<!-- Chart JS -->
	<script src="/static/user1-assets/js/plugin/chart.js/chart.min.js"></script>

	<!-- jQuery Sparkline -->
	<script src="/static/user1-assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

	<!-- Chart Circle -->
	<script src="/static/user1-assets/js/plugin/chart-circle/circles.min.js"></script>

	<!-- Datatables -->
	<script src="/static/user1-assets/js/plugin/datatables/datatables.min.js"></script>

	<!-- Bootstrap Notify -->
	<script src="/static/user1-assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

	<!-- jQuery Vector Maps -->
	<script src="/static/user1-assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
	<script src="/static/user1-assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

	<!-- Sweet Alert -->
	<script src="/static/user1-assets/js/plugin/sweetalert/sweetalert.min.js"></script>

	<!-- Atlantis JS -->
    <script src="/static/user1-assets/js/atlantis.min.js"></script>

    <link rel="icon" href="/static/user1-assets/img/icon.ico" type="image/x-icon" />
    <link rel="canonical" href="https://appseed.us/admin-dashboards/django-dashboard-atlantis-dark">

    <!-- Fonts and icons -->
    <script src="/static/user1-assets/js/plugin/webfont/webfont.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'assets2/css/login.css' %}">
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <style>
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1250px;
}}
               #a{
        text-decoration: none;
    }
        .login-card .form-control {
            line-height: 1;
        }
                .container input
{
	padding: 5px;
	margin-bottom: 30px;
	width: 55%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border:none;
	border-bottom: 2px solid #999;
}
.container input[type="submit"]
{
	border-radius: 25px;
	font-size: 20px;
	height: 40px;
	cursor : pointer;
	background: rgb(66,133,244);
	color: #fff;
	margin-bottom: 0;
}
.container input[type="submit"]:hover
{
	background: #34F458;
	color: #fff;
}
.container form div
{
	position: relative;
}
.container form div label
{
	position: absolute;
	top: 3px;
	pointer-events: none;
	left: 0;
	transition: .5s;
}
.container input:focus ~label,
.container input:valid ~label
{
	left: 0;
	top: -20px;
	color: rgb(66,133,244);
	font-size: 12px;
	font-weight: bold;
}
.container input:focus,
.container input:valid
{
	border-bottom: 2px solid rgb(66,133,244);
}
.error_form
{
	top: 12px;
	color: rgb(216, 15, 15);
    font-size: 15px;
    font-family: Helvetica;
}
        .form-control1{
            line-height: 1;

        }
          .login-card .form-control {
            line-height: 1;}

          button, input, optgroup, select, textarea {
              width: 55%;
          }
          .login-card .card-body {
    padding: 20px 60px 60px;
}
    </style>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a  href=""><img style="border-radius: 30px;" src="{% static '' %}h.png" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li >
                                <li ><a id="a" href="/dealer-home"><i class="ti-home"></i> <span>Dashboard</span></a></li>
                            </li>
                            <li><a id="a" href="/dealerbikesales"><i class="ti-shopping-cart"></i> <span>BikeSales</span></a></li>


                            <li class="active">
                                <a id="a" href="javascript:void(0)" aria-expanded="true"><i class="ti-user"></i><span>Customers
                                    </span></a>
                                <ul class="collapse">
                                    <li class="active">
                                        <a id="a" href="/user-dealer-new">New Customers</a>
                                    </li>
                                    <li>
                                        <a id="a" href="/manage-customers">Manage Customers</a>
                                    </li>
                                </ul>
                            </li>
                             <li ><a id="a" href="/vistorss"><i class="ti-bag"></i> <span>Visitors</span></a></li>
                            <li><a id="a" href="/dealerpay"><i class="ti-money"></i> <span>Book Bike</span></a></li>
                            <li><a id="a" href="/dealerbikepayments"><i class="ti-wallet"></i> <span>Payments History</span></a></li>


                            <li>
                                <a id="a" href="javascript:void(0)" aria-expanded="true"><i class="ti-id-badge"></i><span>Profile
                                    </span></a>
                                <ul class="collapse">
                                    <li><a id="a" href="/my-dealer-profile">View</a></li>
                                    <li>
                                        <a id="a" href="/my-dealer-edit-profile">Update</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a id="a" href="/logout"><i class="ti-power-off"></i> <span>Logout</span></a></li>

                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="search-box pull-left">
                            <form action="#">
                                <input type="text" name="search" placeholder="Search..." required>
                                <i class="ti-search"></i>
                            </form>
                        </div>
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                            <li class="dropdown">
                                </i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Dashboard</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="">Home</a></li>
                                <li><span>New Customer</span></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

<div style="padding: 40px;width: 100%;">
            <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ userForm | crispy}}
                    {{ customerForm | crispy}}
                    <button type="submit" class="btn btn-success btn-block">Submit</button>
              </form></div>

<script type="text/javascript">
      $(function() {

         $("#fname_error_message").hide();
         $("#sname_error_message").hide();
         $("#uname_error_message").hide();
         $("#address_error_message").hide();
         $("#pincode_error_message").hide();
         $("#mobile_error_message").hide();
         $("#country_error_message").hide();
         $("#state_error_message").hide();
         $("#email_error_message").hide();
         $("#password_error_message").hide();
         $("#shname_error_message").hide();
         $("#shadd_error_message").hide();

         var error_fname = false;
         var error_sname = false;
         var error_email = false;
         var error_uname = false;
         var error_address = false;
         var error_pincode= false;
         var error_state = false;
         var error_country = false;
         var error_mobile = false;
         var error_password = false;
         var error_shname = false;
         var error_shadd = false;

         $("#form_fname").focusout(function(){
            check_fname();
         });
         $("#form_sname").focusout(function() {
            check_sname();
         });
         $("#form_uname").focusout(function() {
            check_uname();
         });

         $("#form_email").focusout(function() {
            check_email();
         });
         $("#form_password").focusout(function() {
            check_password();
         });
         $("#form_address").focusout(function() {
            check_address();
         });
         $("#form_pincode").focusout(function() {
            check_pincode();
         });
         $("#form_state").focusout(function() {
            check_state();
         });
         $("#form_country").focusout(function() {
            check_country();
         });
         $("#form_mobile").focusout(function() {
            check_mobile();
         });
         $("#form_shname").focusout(function() {
            check_shname();
         });
         $("#form_shadd").focusout(function() {
            check_shadd();
         });


         function check_fname() {
            var pattern = /^[a-zA-Z]*$/;
            var fname = $("#form_fname").val();
            if (pattern.test(fname) && fname !== '') {
               $("#fname_error_message").hide();
               $("#form_fname").css("border-bottom","2px solid #34F458");
            } else {
               $("#fname_error_message").html("Should contain only Characters");
               $("#fname_error_message").show();
               $("#form_fname").css("border-bottom","2px solid #F90A0A");
               error_fname = true;
            }
         }

         function check_sname() {
            var pattern = /^[a-zA-Z]*$/;
            var sname = $("#form_sname").val()
            if (pattern.test(sname) && sname !== '') {
               $("#sname_error_message").hide();
               $("#form_sname").css("border-bottom","2px solid #34F458");
            } else {
               $("#sname_error_message").html("Should contain only Characters");
               $("#sname_error_message").show();
               $("#form_sname").css("border-bottom","2px solid #F90A0A");
               error_fname = true;
            }
         }
         function check_shname() {
            var pattern = /^[a-zA-Z0-9]*$/;
            var sname = $("#form_shname").val()
            if (pattern.test(sname) && sname !== '') {
               $("#shname_error_message").hide();
               $("#form_shname").css("border-bottom","2px solid #34F458");
            } else {
               $("#shname_error_message").html("Should contain Name");
               $("#shname_error_message").show();
               $("#form_shname").css("border-bottom","2px solid #F90A0A");
               error_shname = true;
            }
         }
         function check_uname(elm) {
            var pattern = /^(?=.*[0-9])(?=.*[A-Z])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,16}$/;
            var uname = $("#form_uname").val()
            if ( pattern.test(uname) && uname !== '') {
               $("#uname_error_message").hide();
               $("#form_uname").css("border-bottom","2px solid #34F458");
            } else {
               $("#uname_error_message").html("like Admin@9644,min 8 Chars");
               $("#uname_error_message").show();
               $("#form_uname").css("border-bottom","2px solid #F90A0A");
               error_uname = true;
            }
         }
         function check_address() {
            var pattern = /^[a-zA-Z0-9!-_:@#$%^&*]{8,100}$/;
            var uname = $("#form_address").val()
            if ( pattern.test(uname) && uname !== '') {
               $("#address_error_message").hide();
               $("#form_address").css("border-bottom","2px solid #34F458");
            } else {
               $("#address_error_message").html(" Should contain Min 8 Characters");
               $("#address_error_message").show();
               $("#form_address").css("border-bottom","2px solid #F90A0A");
               error_address = true;
            }
         }
         function check_shadd() {
            var pattern = /^[a-zA-Z0-9!-_:@#$%^&*]{8,100}$/;
            var uname = $("#form_shadd").val()
            if ( pattern.test(uname) && uname !== '') {
               $("#shadd_error_message").hide();
               $("#form_shadd").css("border-bottom","2px solid #34F458");
            } else {
               $("#shadd_error_message").html(" Should contain Min 8 Characters");
               $("#shadd_error_message").show();
               $("#form_shadd").css("border-bottom","2px solid #F90A0A");
               error_shadd = true;
            }
         }
          function check_pincode() {
            var pattern = /^[0-9]{6}$/;
            var uname = $("#form_pincode").val()
            if ( pattern.test(uname) && uname !== '') {
               $("#pincode_error_message").hide();
               $("#form_pincode").css("border-bottom","2px solid #34F458");
            } else {
               $("#pincode_error_message").html(" Should contain  6 numbers");
               $("#pincode_error_message").show();
               $("#form_pincode").css("border-bottom","2px solid #F90A0A");
               error_pincode = true;
            }
         }
          function check_state() {
            var pattern = /^[a-zA-Z]{4,100}$/;
            var uname = $("#form_state").val()
            if ( pattern.test(uname) && uname !== '') {
               $("#state_error_message").hide();
               $("#form_state").css("border-bottom","2px solid #34F458");
            } else {
               $("#state_error_message").html(" Should contain Min 4 Characters");
               $("#state_error_message").show();
               $("#form_state").css("border-bottom","2px solid #F90A0A");
               error_state = true;
            }
         }
          function check_country() {
            var pattern = /^[a-zA-Z]{3,100}$/;
            var uname = $("#form_country").val()
            if ( pattern.test(uname) && uname !== '') {
               $("#country_error_message").hide();
               $("#form_country").css("border-bottom","2px solid #34F458");
            } else {
               $("#country_error_message").html(" Should contain Min 3 Characters");
               $("#country_error_message").show();
               $("#form_country").css("border-bottom","2px solid #F90A0A");
               error_country = true;
            }
         }
          function check_mobile() {
            var pattern = /^[0-9]{10}$/;
            var uname = $("#form_mobile").val()
            if ( pattern.test(uname) && uname !== '') {
               $("#mobile_error_message").hide();
               $("#form_mobile").css("border-bottom","2px solid #34F458");
            } else {
               $("#mobile_error_message").html(" Should contain 10 Numbers");
               $("#mobile_error_message").show();
               $("#form_mobile").css("border-bottom","2px solid #F90A0A");
               error_mobile = true;
            }
         }
         function check_password() {
            var password_length = $("#form_password").val().length;
            if (password_length < 8) {
               $("#password_error_message").html("Atleast 8 Characters");
               $("#password_error_message").show();
               $("#form_password").css("border-bottom","2px solid #F90A0A");
               error_password = true;
            } else {
               $("#password_error_message").hide();
               $("#form_password").css("border-bottom","2px solid #34F458");
            }
         }



         function check_email() {
            var pattern = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            var email = $("#form_email").val();
            if (pattern.test(email) && email !== '') {
               $("#email_error_message").hide();
               $("#form_email").css("border-bottom","2px solid #34F458");
            } else {
               $("#email_error_message").html("Invalid Email");
               $("#email_error_message").show();
               $("#form_email").css("border-bottom","2px solid #F90A0A");
               error_email = true;
            }
         }

         $("#registration_form").submit(function() {
            error_fname = false;
            error_sname = false;
            error_email = false;
            error_uname = false;
            error_address = false;
            error_password = false;
            error_state = false;
            error_country = false;
            error_pincode = false;
            error_mobile = false;
            error_shname = false;
            error_shadd = false;

            check_fname();
            check_sname();
            check_uname();
            check_address();
            check_email();
            check_password();
            check_country();
            check_state();
            check_pincode();
            check_mobile();
            check_shname();
            check_shadd();

            if (error_fname === false && error_sname === false && error_uname === false && error_email === false && error_password === false && error_address=== false && error_pincode=== false && error_country=== false && error_state=== false && error_mobile=== false && error_shname=== false && error_shadd=== false  ) {
               alert("Registration Successfull");
               return true;
            } else {
               alert("Please Fill the form Correctly");
               return false;
            }


         });
      });
   </script>

        </div>
    </div>

            <!-- page title area end -->

            <!-- offset area end -->
            <!-- jquery latest version -->

            <!-- page title area end -->

            <!-- offset area end -->
            <!-- jquery latest version -->
           <script src="{% static '' %}user-assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="{% static '' %}user-assets/js/popper.min.js"></script>
    <script src="{% static '' %}user-assets/js/bootstrap.min.js"></script>
    <script src="{% static '' %}user-assets/js/owl.carousel.min.js"></script>
    <script src="{% static '' %}user-assets/js/metisMenu.min.js"></script>
    <script src="{% static '' %}user-assets/js/jquery.slimscroll.min.js"></script>
    <script src="{% static '' %}user-assets/js/jquery.slicknav.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- all line chart activation -->
    <script src="{% static '' %}user-assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="{% static '' %}user-assets/js/pie-chart.js"></script>
    <!-- others plugins -->
    <script src="{% static '' %}user-assets/js/plugins.js"></script>
    <script src="{% static '' %}user-assets/js/scripts.js"></script>
</body>

</html>