<!doctype html>
<html class="no-js" lang="en">
{% load  static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SGO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/favh.png" rel="icon">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/themify-icons.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/metisMenu.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{% static '' %}user-assets/css/typography.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/default-css.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/styles.css">
    <link rel="stylesheet" href="{% static '' %}user-assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="{% static '' %}user-assets/js/vendor/modernizr-2.8.3.min.js"></script>



    <link rel="stylesheet" href="/static/user1-assets/css/fonts.css">
    <link rel="stylesheet" href="/static/user1-assets/css/fonts.min.css">
    <!-- CSS Files -->
    <link rel="stylesheet" href="/static/user1-assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/user1-assets/css/atlantis.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/static/user1-assets/css/demo.css">

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

{#<!--   Core JS Files   -->#}
	<script src="/static/user1-assets/js/core/jquery.3.2.1.min.js"></script>
{#	<script src="/static/user1-assets/js/core/popper.min.js"></script>#}
	<script src="/static/user1-assets/js/core/bootstrap.min.js"></script>

	<!-- jQuery UI -->
	<script src="/static/user1-assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="/static/user1-assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

	<!-- jQuery Scrollbar -->
	<script src="/static/user1-assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

	<!-- Chart JS -->
	<script src="/static/user1-assets/js/plugin/chart.js/chart.min.js"></script>

	<!-- jQuery Sparkline -->
	<script src="/static/user1-assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

	<!-- Chart Circle -->
	<script src="/static/user1-assets/js/plugin/chart-circle/circles.min.js"></script>

	<!-- Datatables -->
	<script src="/static/user1-assets/js/plugin/datatables/datatables.min.js"></script>

	<!-- Bootstrap Notify -->
	<script src="/static/user1-assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

	<!-- jQuery Vector Maps -->
	<script src="/static/user1-assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
	<script src="/static/user1-assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

	<!-- Sweet Alert -->
	<script src="/static/user1-assets/js/plugin/sweetalert/sweetalert.min.js"></script>

	<!-- Atlantis JS -->
    <script src="/static/user1-assets/js/atlantis.min.js"></script>

    <link rel="icon" href="/static/user1-assets/img/icon.ico" type="image/x-icon" />
    <link rel="canonical" href="https://appseed.us/admin-dashboards/django-dashboard-atlantis-dark">

    <!-- Fonts and icons -->
    <script src="/static/user1-assets/js/plugin/webfont/webfont.min.js"></script>
<style>
    #a{
        text-decoration: none;
    }
</style>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a  href=""><img style="border-radius: 30px;" src="{% static '' %}h.png" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="active">
                                <li class="active"><a id="a" href="/dealer-home"><i class="ti-home"></i> <span>Dashboard</span></a></li>
                            </li>
                            <li><a id="a" href="/dealerbikesales"><i class="ti-shopping-cart"></i> <span>BikeSales</span></a></li>


                            <li>
                                <a id="a" href="javascript:void(0)" aria-expanded="true"><i class="ti-user"></i><span>Customers
                                    </span></a>
                                <ul class="collapse">
                                    <li>
                                        <a id="a" href="/user-dealer-new">New Customers</a>
                                    </li>
                                    <li>
                                        <a id="a" href="/manage-customers">Manage Customers</a>
                                    </li>
                                </ul>
                            </li>
                            <li ><a id="a" href="/vistorss"><i class="ti-bag"></i> <span>Visitors</span></a></li>
                            <li><a id="a" href="/dealerpay"><i class="ti-money"></i> <span>Book Bike</span></a></li>
                            <li><a id="a" href="/dealerbikepayments"><i class="ti-wallet"></i> <span>Payments History</span></a></li>


                            <li>
                                <a id="a" href="javascript:void(0)" aria-expanded="true"><i class="ti-id-badge"></i><span>Profile
                                    </span></a>
                                <ul class="collapse">
                                    <li><a id="a" href="/my-dealer-profile">View</a></li>
                                    <li>
                                        <a id="a" href="/my-dealer-edit-profile">Update</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a id="a" href="/logout"><i class="ti-power-off"></i> <span>Logout</span></a></li>

                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="search-box pull-left">
                            <form action="#">
                                <input type="text" name="search" placeholder="Search..." required>
                                <i class="ti-search"></i>
                            </form>
                        </div>
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                            <li class="dropdown">
                                </i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Dashboard</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="">Home</a></li>
                                <li><span>Dashboard</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <img class="avatar user-thumb" src="{% static '' %}user-assets/images/author/avatar.png" alt="avatar">
                            <h4 class="user-name dropdown-toggle font-weight-bold text-capitalize" data-toggle="dropdown" >{{user.first_name}} &nbsp; {{user.last_name}} <i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/my-dealer-profile">Profile</a>

                                <a class="dropdown-item" href="/logout">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>


                  <!-- Dealer Dashboard start-->
        <div class="content">
		<div class="page-inner">
			<!-- Card -->
{#			<h4 class="page-title">Card</h4>#}
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-primary card-round">
						<div class="card-body">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="flaticon-users"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="card-category">Customers Count</p>
										<h4 class="card-title">{{customercount}}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-success card-round">
						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="flaticon-analytics"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="card-category">Bike Sales</p>
										<h4 class="card-title">{{bikecount}}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
	<div class="content">
		<div class="page-inner">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Customer and Bike sales Data</div>
						</div>
						<div class="card-body">
{#							<div class="card-sub">#}
{#								Sometimes you need a very complex legend. In these cases, it makes sense to generate an HTML legend. Charts provide a generateLegend() method on their prototype that returns an HTML string for the legend.#}
{#							</div>#}
							<div class="chart-container">
								<canvas id="htmlLegendsChart"></canvas>
							</div>
							<div id="myChartLegend"></div>
{#						</div>#}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
	<script>
		var
        htmlLegendsChart = document.getElementById('htmlLegendsChart').getContext('2d');

		// Chart with HTML Legends

		var gradientStroke = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
		gradientStroke.addColorStop(0, '#177dff');
		gradientStroke.addColorStop(1, '#80b6f4');

		var gradientFill = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
		gradientFill.addColorStop(0, "rgba(23, 125, 255, 0.7)");
		gradientFill.addColorStop(1, "rgba(128, 182, 244, 0.3)");

		var gradientStroke2 = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
		gradientStroke2.addColorStop(0, '#f3545d');
		gradientStroke2.addColorStop(1, '#ff8990');

		var gradientFill2 = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
		gradientFill2.addColorStop(0, "rgba(243, 84, 93, 0.7)");
		gradientFill2.addColorStop(1, "rgba(255, 137, 144, 0.3)");

		var gradientStroke3 = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
		gradientStroke3.addColorStop(0, '#fdaf4b');
		gradientStroke3.addColorStop(1, '#ffc478');

		var gradientFill3 = htmlLegendsChart.createLinearGradient(500, 0, 100, 0);
		gradientFill3.addColorStop(0, "rgba(253, 175, 75, 0.7)");
		gradientFill3.addColorStop(1, "rgba(255, 196, 120, 0.3)");

		var myHtmlLegendsChart = new Chart(htmlLegendsChart, {
			type: 'bar',
			data: {
				{#labels: ['Count of Customers','Total Bike Sales'],#}
				datasets: [ {
					label: 'Count of Customers',
					borderColor: gradientStroke2,
					pointBackgroundColor: gradientStroke2,
					pointRadius: 0,
					backgroundColor: gradientFill2,
					legendColor: '#f3545d',
					fill: true,
					borderWidth: 1,
					data: [{{customercount}}]
				}, {
					label: 'Total Bike Sales',
					borderColor: gradientStroke3,
					pointBackgroundColor: gradientStroke3,
					pointRadius: 0,
					backgroundColor: gradientFill3,
					legendColor: '#1c2fdc',
					fill: true,
					borderWidth: 1,
					data: [{{bikecount}}]
				}]
			},
			options : {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false
				},
				tooltips: {
					bodySpacing: 4,
					mode:"nearest",
					intersect: 0,
					position:"nearest",
					xPadding:10,
					yPadding:10,
					caretPadding:10
				},
				layout:{
					padding:{left:15,right:15,top:15,bottom:15}
				},
				scales: {
					yAxes: [{
						ticks: {
							fontColor: "rgba(0,0,0,0.5)",
							fontStyle: "500",
							beginAtZero: false,
							maxTicksLimit: 5,
							padding: 20
						},
						gridLines: {
							drawTicks: false,
							display: false
						}
					}],
					xAxes: [{
						gridLines: {
							zeroLineColor: "transparent"
						},
						ticks: {
							padding: 20,
							fontColor: "rgba(0,0,0,0.5)",
							fontStyle: "500"
						}
					}]
				},
				legendCallback: function(chart) {
					var text = [];
					text.push('<ul class="' + chart.id + '-legend html-legend">');
					for (var i = 0; i < chart.data.datasets.length; i++) {
						text.push('<li><span style="background-color:' + chart.data.datasets[i].legendColor + '"></span>');
						if (chart.data.datasets[i].label) {
							text.push(chart.data.datasets[i].label);
						}
						text.push('</li>');
					}
					text.push('</ul>');
					return text.join('');
				}
			}
		});

		var myLegendContainer = document.getElementById("myChartLegend");

		// generate HTML legend
		myLegendContainer.innerHTML = myHtmlLegendsChart.generateLegend();

		// bind onClick event to all LI-tags of the legend
		var legendItems = myLegendContainer.getElementsByTagName('li');
		for (var i = 0; i < legendItems.length; i += 1) {
			legendItems[i].addEventListener("click", legendClickCallback, false);
		}

	</script>

{% endblock javascripts %}

    </div>
            </div></div>
            <!-- page title area end -->

            <!-- offset area end -->
            <!-- jquery latest version -->

            <!-- page title area end -->

            <!-- offset area end -->
            <!-- jquery latest version -->
           <script src="{% static '' %}user-assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="{% static '' %}user-assets/js/popper.min.js"></script>
    <script src="{% static '' %}user-assets/js/bootstrap.min.js"></script>
    <script src="{% static '' %}user-assets/js/owl.carousel.min.js"></script>
    <script src="{% static '' %}user-assets/js/metisMenu.min.js"></script>
    <script src="{% static '' %}user-assets/js/jquery.slimscroll.min.js"></script>
    <script src="{% static '' %}user-assets/js/jquery.slicknav.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- all line chart activation -->
    <script src="{% static '' %}user-assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="{% static '' %}user-assets/js/pie-chart.js"></script>
    <!-- others plugins -->
    <script src="{% static '' %}user-assets/js/plugins.js"></script>
    <script src="{% static '' %}user-assets/js/scripts.js"></script>
</body>

</html>