{% extends 'base.html' %}
      <link href="/static/favh.png" rel="icon">

{% block title %}Password reset{% endblock %}
{% block content %}

    <body style="background-image: url(https://lois.ewura.go.tz/ewura/images/password-img.png); background-size: cover; color: cornflowerblue">
    <div class="col-md-8 offset-2 text-center " style="padding: 50px;font-weight: bold;font-size: x-large;top: 10%">
<h1 class="text-capitalize  footer-newsletter">Password set</h1>
<p style="color: gold" class="text font-weight-bold">Your password has been set. You can <a style=";color: darkorange;   font-size: xxx-large;" href="{% url "adminlogin" %}">log in now</a></p></div></body>
{% endblock %}