{% extends "base.html" %}
      <link href="/static/favh.png" rel="icon">

{% block title %}Reset your password{% endblock %}
{% block content %}
<body style="background-image: url(https://png.pngtree.com/back_origin_pic/02/64/96/81e6a736000df3b1b4ffbfb04ec9f466.jpg);background-repeat: no-repeat;color: whitesmoke">
    <div class="col-md-8 offset-2 text-center " style="background-color:indianred;padding: 50px;font-weight: bold;font-size: x-large;top: 10%">
<h1 class="text-capitalize  footer-newsletter">Reset your password</h1>
<p class=" font-weight-bold">We've emailed you instructions for setting your password.</p>
<p class="text-white font-weight-bold">If you don't receive an email, please make sure you've entered the
address you registered with.</p></div></body>
{% endblock %}